
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  
  .repair-status-card {
    background-color: #c7dfef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(151, 210, 244, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .status {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
  }