
body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  background-color: #1a202c;
}
button {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}


.enter-number-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d3748;
  color: white;
  height: 100vh;
  padding: 2rem;
}

.enter-number-page h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.enter-number-page input {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 2px solid #4a5568;
  background-color: #4a5568;
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  width: 80%;
  max-width: 400px;
}

.enter-number-page input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.enter-number-page button {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.enter-number-page button:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

.enter-number-page button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}


@media (max-width: 600px) {
  .App {
    padding: 0;
  }

  .enter-number-page input {
    width: 90%;
  }

  .enter-number-page button {
    width: 90%;
  }
}